body{
 background-color:whitesmoke;
}

img{
    width: 70%;
    display: block;
    margin:1% auto;
    transition: transform .2s;

}

img:hover{
     transform: scale(1.5);  
    
    }


.card{
    background:none;
    padding:10px;
    border:1px solid black;
   
}

button{
    width:100%;

}